@font-face {
  font-family: "iconfont"; /* Project id 2146066 */
  src: url('iconfont.woff2?t=1645267405178') format('woff2'),
       url('iconfont.woff?t=1645267405178') format('woff'),
       url('iconfont.ttf?t=1645267405178') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontuzi:before {
  content: "\e606";
}

.iconkejian:before {
  content: "\e674";
}

.iconbukejian:before {
  content: "\e6cb";
}

